# requirements.txt
fastapi
uvicorn[standard]
python-dotenv
supabase
pydantic
pydantic-settings
python-multipart
jiwer
python-jose[cryptography]
passlib[bcrypt]
Pillow
email-validator
piper-tts
onnxruntime
faster-whisper
librosa
jiwer
gradio_client
