# requirements.txt
fastapi
uvicorn[standard]
python-dotenv
supabase
pydantic
pydantic-settings
python-multipart
librosa
soundfile
numpy
jiwer
gradio-client
torch
transformers
python-jose[cryptography]
passlib[bcrypt]
Pillow
email-validator
piper-tts
onnxruntime
