# requirements.txt
fastapi
uvicorn[standard]
python-dotenv
supabase
pydantic
pydantic-settings
python-multipart
librosa
soundfile
numpy
jiwer
gradio-client
python-jose[cryptography]
passlib[bcrypt]
Pillow